---
interface Props {
    title: string
    color: string
};
const {title, color} = Astro.props;
---
<div class="center monitor:center-col relative">
    <div class="container center shrink-0">
        <div class={`full rounded-full ${color} center`}>
            <slot></slot>
        </div>
            
    </div>
    <div class="w-44 h-32 center monitor:block monitor:mt-4 monitor:absolute left-[100%] monitor:w-full monitor:left-0 monitor:top-[100%] ">
        <h3 class="title leading-snug text-white">{title}</h3>
    </div>
    <!--  -->
</div>

<style>
    @tailwind base;
	@tailwind components;
	@tailwind utilities;

    @layer components {
        
        .container{
            @apply w-44 h-44  monitor:h-[10rem] monitor:w-[10rem] bigmonitor:w-[14rem] bigmonitor:h-[14rem] 
        }

        .title{
            @apply break-words text-center uppercase font-bold text-lg monitor:text-lg  bigmonitor:text-2xl leading-7 text-text2
        }
    }
</style>