---
import { FaBalanceScale,FaBriefcase } from "react-icons/fa";
import { FaPeopleGroup } from "react-icons/fa6";
import Item from "./Item.astro";

---

<section class="center-col gap-32 laptop:h-[17rem] laptop:center laptop:gap-10 bg-comb bg-stats relative">
    <div class="absolute full bg-boxes opacity-60"></div>

    <Item number={99} symbol="%">
        <FaBalanceScale className="w-20 h-20 laptop:w-24 laptop:h-24 text-gold-color"/>
    </Item>
    <Item number={500} symbol="+">
        <FaBriefcase className="w-20 h-20 laptop:w-24 laptop:h-24 text-gold-color"/>
    </Item>
    <Item number={99} symbol="%">
        <FaPeopleGroup className="w-20 h-20 laptop:w-24 laptop:h-24 text-gold-color"/>
    </Item>

</section>

<style>

</style>