---
import { FaRegHandshake, FaSearchDollar} from "react-icons/fa";
import { FaHandHoldingDollar } from "react-icons/fa6";
import { BsHexagonFill } from "react-icons/bs";
import { MdAccountBalance } from "react-icons/md";
import Navbar from "./Navbar.astro";

---

<section class="center-col-nomid montior:full-section bg-primary">

    <Navbar/>

    <div class="h-52 center bg-header bg-cover w-full laptop:h-[15rem] monitor:h-[16rem] bigmonitor:h-[29rem] bg-black relative opacity-90 z-10">
        <div class="small-responsive bg-primary absolute -bottom-2 rounded-t-full"></div>
    </div>
    
    <div class="center-col w-full h-2/3 bigmonitor:gap-8 laptop:gap-3 z-20">
        <div class="relative">   
            <BsHexagonFill className="w-16 h-16 laptop:w-20 laptop:h-20 text-boxes"/>
            <div class="w-full h-full absolute top-0 center">
                <MdAccountBalance className="w-8 h-8 laptop:w-12 laptop:h-12"/>
            </div>
            
        </div>
        
        <h2 class="text-3xl text-center mb-10 text-boxes uppercase font-semibold">¿Por que elegirnos?</h2>

        <section class="w-full h-full center-col monitor:center-row-nomid bigmonitor:center gap-12 mb-10">

            <div class='center-col relative card'>
                <div class="absolute -top-5 laptop:-top-10 rounded-full bg-primary">
                    <img class="w-10 h-10 laptop:w-20 laptop:h-20 opacity-60 " src="static/header/compromiso.svg"/>
                </div>

                <h3 class="text-lg laptop:text-xl uppercase opacity-80 font-semibold mt-7">compromiso</h3>
                
                <div class="h-full mt-4">
                    <p class="card-text"> Una vez que una causa ingresa al estudio nos comprometemos de lleno a intentar conseguir el resultado más favorable para el cliente.</p>
                </div>

                
            </div>
            <div class='center-col relative card'>
                <div class="absolute -top-5 laptop:-top-10 rounded-full bg-primary">
                    <img class="w-10 h-10 laptop:w-20 laptop:h-20 opacity-60" src="static/header/celeridad.svg"/>
                </div>
                <h3 class="text-lg laptop:text-xl uppercase opacity-80 font-semibold mt-7">celeridad</h3>
                
                <div class="h-full mt-4">
                    <p class="card-text">Entendemos que los tiempos judiciales son largos, pero seguimos cada caso de cerca para que avance lo más rápido posible, informando al cliente sobre el estado de su causa.</p>
                </div>
                
            </div>
            <div class='center-col relative card'>
                <div class="absolute -top-5 laptop:-top-10 rounded-full bg-primary">
                    <img class="w-10 h-10 laptop:w-20 laptop:h-20 opacity-60" src="static/header/costos.svg"/>
                </div>
                <h3 class="text-lg laptop:text-xl uppercase opacity-80 font-semibold mt-7">costos</h3>
                
                <div class="h-full mt-4">
                    <p class="card-text"> Sabemos que el acceso a la justicia puede ser costoso, por eso ofrecemos consulta telefónica gratuita y, en muchos casos, honorarios basados en resultados, sin necesidad de pagar al iniciar.
                    </p>
                </div>
                
            </div>
        </section>


    </div>
    
</section>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

    @layer components{
        .card{
            @apply w-[90%]  monitor:w-[24rem] monitor:h-[11rem] bigmonitor:h-[12rem] bigmonitor:w-[30rem]  rounded-lg p-4 laptop:gap-2 bg-boxes text-text2
        }

        .card-text{
            @apply text-center text-sm laptop:text-[16px] opacity-70 font-light
        }
    }
</style>