---
//Components
import ChatPanel from "@components/admin/chatPanel/components/ChatPanel";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="-">
    <main>
        <ChatPanel client:only/>
    </main>
</Layout>

