---
//Components
import Options from "./interactive/Options"
import Title from "@shared/components/Title.astro"
---

<section class="full-section center-col-nomid bg-primary z-20">
    <Title color="boxes" title="Nuestros Servicios" description="Encuentra respuestas a tus preguntas sobre nuestros servicios aquí"/>
    <Options client:visible/>
</section>