---
import Options from "./interactive/Options"
import Title from "@shared/components/Title.astro"
---

<section class="full-section center-col-nomid">
    <Title title="Nuestros Servicios"/>
    <Options client:visible/>
</section>