---
import Options from "./interactive/Options"
import Title from "@shared/components/Title.astro"
---

<section class="full-section center-col-nomid bg-primary z-20">
    <Title color="secondary" title="Nuestros Servicios"/>
    <Options client:visible/>
</section>