---
import Chat from '../features/chat/components/interactive/Chat';
import { UserTypeEnum } from '../features/chat/enums/chat.enum';
import Header from '../features/header/components/Header.astro';
import Specialties from '../features/specialties/components/Specialties.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Specialties/>
		<Chat actual_user={UserTypeEnum.AnonymousUser} client:load/>
	</main>
</Layout>

<style>


	main {
		margin: auto;
		display: flex;
		flex-direction: column;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
