---
// Components
import Stats from '@components/stats/components/Stats.astro';
import Header from '../features/header/components/Header.astro';
import Specialties from '../features/specialties/components/Specialties.astro';
import Layout from '../layouts/Layout.astro';
import Reviews from '@components/reviews/components/Reviews.astro';
import Inmobiliario from '@components/inmobiliario/components/Inmobiliario.astro';
import Footer from '@components/footer/components/Footer.astro';
import Whatsapp from '@components/whatsapp/Whatsapp.astro';
import Chat from '@components/chat/components/Chat';
import Credits from '@components/credits/components/Credits.astro'
// Enums
import { UserTypeEnum } from '../features/chat/enums/chat.enum';

---

<Layout title="Estudio Jurídico AD">
	<main class="overflow-hidden">
		<Header/>
		<Stats/>
		<Specialties/>
		
		<Inmobiliario/>
		<Reviews/>
		<Footer/>
		<Chat actual_user={UserTypeEnum.AnonymousUser} client:load/>
		<Whatsapp/>
		<Credits/>
	</main>
</Layout>

<style>


	main {
		margin: auto;
		display: flex;
		flex-direction: column;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
