---
import { AiOutlineWhatsApp } from "react-icons/ai";
import UrlWrapper from "shared/components/UrlWrapper.astro";
import { WHATSAPP_URL } from "shared/constants";



---


<UrlWrapper url={WHATSAPP_URL}>

    <div class="w-16 h-16 bg-green-500 z-50 fixed bottom-3 left-2 rounded-full center cursor-pointer hover:bg-green-600 ease-in duration-200">
        <AiOutlineWhatsApp className=' text-indigo-100 h-12 w-12 z-20'/>
    </div>
    
</UrlWrapper>