---
// Components
import Login from "@components/admin/login/components/interactive/Login";
import Layout from "src/layouts/Layout.astro";

---
<Layout title="Login | AD">
    <main>
        <Login client:load/>
    </main>
</Layout>