---
import { MdAccountBalance } from "react-icons/md";

interface Props {
    color?: string;
	title: string;
    description?: string;
}

const { color="primary", title, description } = Astro.props;
---

<section class="flex flex-col items-center z-10 mt-10 mb-4">
    <h2 class={`text-4xl text-center text-${color} uppercase font-semibold`}>{title}</h2>

    <div class="flex items-center gap-1">

        <div class="w-8 h-0.5 bg-gold-color"></div>
        <MdAccountBalance className="w-6 h-6 text-gold-color"/>
        <div class="w-8 h-0.5 bg-gold-color"></div>

    </div>

    <p class="w-4/5 laptop:w-full text-lg mt-5 text-gold-color text-center font-sans ">{description}</p>

</section>